/*body {
    background-color: yellow;
}

.container-fluid {
    
}

h1 {
    
}

nav {
    background-color: aquamarine;
}

button {
    background-color: aquamarine;
}

.card {
    background-color: cornflowerblue;
}